[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
regex = "*"
spotipy = "*"
flask = "*"
flask-restful = "*"
zipfile36 = "*"
gunicorn = "*"
unidecode = "*"
psycopg2 = "*"
pytube = {ref = "nfunc_regex_patch", git = "https://github.com/glubsy/pytube"}

[dev-packages]

[requires]
python_version = "3.9"
