<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spoti-Tube Downloader</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/first.css">
</head>

<body>
    <div class="logo">
        <div class="logo-container">
            <img src="../static/images/Spoti-tube-logos_transparent.png" alt="Logo">
        </div>
    </div>

    <div class="oblique">
        <div class="main-block-oblique skew-block">
            <div class="skew-block-repeat">
                <a href="/spotify">
                    <div class="oblique-inner">
                        <div class="image-wrapper">
                            <div class="main-image">
                                <img class="image-img" src="../static/images/204161-spotify-wallpaper.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="oblique-caption caption-top">
                        <h2>Spotify Downloader</h2>
                        <button href="index.html">Discover</button>
                    </div>
                </a>
            </div>
            <div class="skew-block-repeat">
                <a href="/youtube">
                    <div class="oblique-inner">
                        <div class="image-wrapper">
                            <div class="main-image">
                                <img class="image-img" src="../static/images/wallpaper2you_31485.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="oblique-caption caption-bottom">
                        <h2>Youtube Downloader</h2>
                        <button href="index.html">Discover</button>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul class="landing-social-links">
            <li>
                <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-pinterest fa-2x"></i></a>
            </li>
        </ul>
        <p class="copyright">Copyright &copy; 2020. All rights reserved.</p>
    </div>
</body>

</html>