<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Document</title>
    <script type="text/javascript" src="../static/main.js"></script>
</head>

<body>
    <div id="main-page" style="display: 'block';">
        <ul class="menu-bar">
            <li type="button" onclick="splist('block','none','none','none');bgrchange(1);">Spotify playlist</li>
            <li type="button" onclick="splist('none','block','none','none');bgrchange(1);">Spotify song</li>
            <li type="button" onclick="splist('none','none','block','none');bgrchange(2);">Youtube playlist</li>
            <li type="button" onclick="splist('none','none','none','block');bgrchange(2);">Youtube vedio</li>

        </ul>

        <div class="box">

            <form action="" method="post" onsubmit="open_load()">
                <div class="inputBox">
                    <input type="url" name="to-dow-link" required="">
                    <label for="" id="sp-list" style="display:block">Spotify Playlist Url</label>
                    <label for="" id="sp-song" style="display:none">Spotify Song Url</label>
                    <label for="" id="yt-list" style="display:none">Youtube Playlist Url</label>
                    <label for="" id="yt-song" style="display:none">Youtube Song Url</label>
                </div>
                <input type="submit" name="" value="Submit">

            </form>

        </div>
    </div>
    <div class="loading" id="load" style="display: none;">
        <table>
            <tr>
                <td>
                    <div class='image'>
                        <img src="../static/images/XOsX.gif" alt="">
                    </div>
                </td>
                <td>
                    <div>
                        <h4 class="wordCarousel">

                            <div>
                                <!-- Use classes 2,3, or 4 to match the number of words -->
                                <ul class="flip4">
                                    <li>Converting</li>
                                    <li>Almost done..</li>
                                    <li>Converting</li>
                                    <li>Almost done..</li>
                                </ul>
                            </div>

                        </h4>
                    </div>
                </td>
            </tr>
        </table>


    </div>
</body>

</html>