{% include 'main.html' %}

{% block body %}
<div id="main-page" style="display: 'block';">
    <div class="for-pc">
        <ul class="menu-bar">

            <div style="display: inline-flex;">
                <li type="button" onclick="splist(1);">Spotify playlist</li>
                <li type="button" onclick="splist(2);">Spotify song</li>
                <li type="button" onclick="splist(3);">Spotify Artist</li>
                <li type="button" onclick="splist(4);">Spotify Albums</li>
            </div>
        </ul>
    </div>
    <div class="for-mob">
        <ul class="menu-bar">

            <div style="display: inline-flex;">
                <li type="button" onclick="splist(1);">Spotify playlist</li>
                <li type="button" onclick="splist(2);">Spotify song</li>
            </div>
        </ul>
        <ul class="menu-bar">
            <div style="display: inline-flex;">
                <li type="button" onclick="splist(3);">Spotify Artist</li>
                <li type="button" onclick="splist(4);">Spotify Albums</li>
            </div>
        </ul>
    </div>

    <div class="box">

        <form action="" method="post" id="form">
            <div class="inputBox">
                <input type="url" name="to-dow-link" required="">
                <label for="" id="sp-list" style="display:block">Spotify Playlist Url</label>
            </div>
            <input type="submit" name="" value="Submit" onclick="return check_form_link()">

        </form>

    </div>
</div>
<script type="text/javascript">

    window.onload = function () {

        bgrchange("{{ mode }}");

    };
</script>


{% endblock %}